-- ============================================================
-- 智慧能源管理系统 - 测试用户初始化脚本
-- 可直接在SQL Server中运行，支持跨环境迁移
-- 所有用户密码: 123456
-- ============================================================

-- 密码加密说明：
-- 原始密码: 123456
-- Salt: VGVzdFNhbHQxMjM0NTY3OA== (固定值)
-- 加密方式: SHA256(password + salt)
-- 哈希结果: c5c673c01d44ddbf4df065a752b20f19ca4f5b0dc2a8f6a92e23af672ad4cd11

-- ============================================================
-- 第一步：插入用户到 Sys_User 表
-- ============================================================

-- ============================================================
-- 第二步：插入角色表记录
-- ============================================================
INSERT INTO Role_SysAdmin (User_ID) SELECT User_ID FROM Sys_User WHERE Login_Account = 'admin';
INSERT INTO Role_OandM (User_ID) SELECT User_ID FROM Sys_User WHERE Login_Account = 'om_user';
INSERT INTO Role_EnergyMgr (User_ID) SELECT User_ID FROM Sys_User WHERE Login_Account = 'energy_user';
INSERT INTO Role_Analyst (User_ID) SELECT User_ID FROM Sys_User WHERE Login_Account = 'analyst_user';
INSERT INTO Role_Manager (User_ID) SELECT User_ID FROM Sys_User WHERE Login_Account = 'exec_user';

-- ============================================================
-- 第三步：分配角色到 Sys_Role_Assignment 表
-- ============================================================
INSERT INTO Sys_Role_Assignment (User_ID, Role_Type, Assigned_By)
SELECT User_ID, 'ADMIN', NULL FROM Sys_User WHERE Login_Account = 'admin';

INSERT INTO Sys_Role_Assignment (User_ID, Role_Type, Assigned_By)
SELECT User_ID, 'OM', NULL FROM Sys_User WHERE Login_Account = 'om_user';

INSERT INTO Sys_Role_Assignment (User_ID, Role_Type, Assigned_By)
SELECT User_ID, 'ENERGY', NULL FROM Sys_User WHERE Login_Account = 'energy_user';

INSERT INTO Sys_Role_Assignment (User_ID, Role_Type, Assigned_By)
SELECT User_ID, 'ANALYST', NULL FROM Sys_User WHERE Login_Account = 'analyst_user';

INSERT INTO Sys_Role_Assignment (User_ID, Role_Type, Assigned_By)
SELECT User_ID, 'EXEC', NULL FROM Sys_User WHERE Login_Account = 'exec_user';

-- ============================================================
-- 验证插入结果
-- ============================================================
SELECT 
    u.User_ID,
    u.Login_Account AS N'账号',
    u.Real_Name AS N'姓名',
    u.Department AS N'部门',
    r.Role_Type AS N'角色',
    CASE r.Role_Type
        WHEN 'ADMIN' THEN '/admin/dashboard'
        WHEN 'OM' THEN '/om/dashboard'
        WHEN 'ENERGY' THEN '/energy/dashboard'
        WHEN 'ANALYST' THEN '/analyst/dashboard'
        WHEN 'EXEC' THEN '/exec/dashboard'
    END AS N'登录跳转页面'
FROM Sys_User u
LEFT JOIN Sys_Role_Assignment r ON u.User_ID = r.User_ID
WHERE u.Login_Account IN ('admin','om_user','energy_user','analyst_user','exec_user')
ORDER BY u.User_ID;

PRINT N'✓ 测试用户创建完成！所有用户密码: 123456';